.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__copyright {
  max-width: 195px;
  color: #fff;
  font-family: "Inter-Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__copyright {
    line-height: 1;
  }
}
